include react/react.min.js
include react/react.min.js.map
include react/async-*.js
include react/async-*.js.map
include react/*-shared.js
include react/*-shared.js.map
include react/metadata.json
include react/package-info.json
include README.md
include LICENSE
include package.json
